body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: sandybrown;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: black;
    padding: 20px;
}

#display {
    margin-bottom: 10px;
    height: 50px;
    width: 300px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#numbers button {
    width: 33.33%;
    flex-basis: 33.33%;
}

#zero {
    flex-basis: 100%;
    flex-grow: 1;
}

#operations {
    display: flex;
    flex-direction: column;
}
